/*CONTENEDOR PAGINA TIENDA*/
.contenedor_pagina_tienda {
    display: flex;
    padding: 10px;
    gap: 10px;
}

/*CONTENEDOR FILTRO TIENDA*/
.contenedor_filtro_tienda {
    display: flex;
    width: 300px;
    flex-direction: column;
    transition: all 0.5s ease;
    border-radius: 4px;
    border: 1px solid rgb(238, 13, 13);
    background-color: white;
    z-index: 50;
}

/*CONTENEDOR PRODUCTOS TIENDA*/
.contenedor_pagina_tienda_cuerpo {
    width: 100%;
    border-radius: 4px;
}

.contenedor_filtro_productos {
    width: 100%;
    /*padding: 10px 10px;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 20px;
    justify-content: center;
}

/*TOGGLE*/
.toogle_tienda {
    display: none;
}

/*CONTENEDOR FILTRO LIMPIAR*/
.item_filtro_tienda {
    width: 100%;
    border-bottom: 1px solid rgba(238, 13, 13, 0.2);
}

/*CONTENEDOR TITULO*/
.contenedor_titulo_filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.contenedor_titulo_filtro p {
    font-weight: 500;
    font-size: 17px;
}

.contenedor_titulo_filtro button {
    border: 1px solid rgb(238, 13, 13);
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 500;
}

/*CONTENEDOR CUERPO*/
.contenedor_cuerpo_filtro {
    padding: 0px 10px 10px 10px;
}

/*FILTRO BUSCADOR*/
.contenedor_cuerpo_filtro input[type="text"] {
    width: 100%;
}

/*FILTRO PRECIO*/
.contenedor_cuerpo_filtro input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.contenedor_cuerpo_filtro .color_filtro {
    background-color: #ffa03d;
}

.contenedor_cuerpo_filtro li a {
    font-size: 16px;
}

.contenedor_cuerpo_filtro button:hover {
    background-color: #f18f26;
}

/*FILTRO CATEGORIA*/
.contenedor_cuerpo_filtro li {
    margin: 2px 0px;
}

@media (max-width: 1200px) {

    .contenedor_filtro_productos {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (max-width: 1000px) {

    .contenedor_filtro_productos {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media (max-width: 900px) {
    /*TOGGLE*/
    .toogle_tienda {
        display: block;
        position: absolute;
        top: 10px;
        left: 300px;
        z-index: 300;
        width: 20px;
        height: 20px;
        background-color: blue;
        cursor: pointer;
    }

    .contenedor_filtro_tienda {
        position: fixed;
        top: 110px;
        left: 0px;
        overflow-y: auto;
        height: calc(100vh - 110px);
        left: -300px;
    }

    .contenedor_filtro_tienda::-webkit-scrollbar {
        display: none;
    }
}
