.contenedor_filtro_productos {
    width: 100%;
    /*padding: 10px 10px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 20px;
    justify-content: center;
}


@media (max-width: 1000px) {

    .contenedor_filtro_productos {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 500px) {

    .contenedor_filtro_productos {
        grid-template-columns: repeat(1, 1fr);
    }

}
